<div class="two column stackable ui grid">
    <div class="column">
        <div class="ui blue segment">
            <h3 class="ui header">Gestion des utilisateurs</h3>

            <div class="ui labeled vertical fluid icon menu">
                <a class="item">
                    <i class="user icon"></i>
                    Utilisateurs
                </a>
                <a class="item">
                    <i class="icon users"></i>
                    Groupes
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="ui red segment">
            <h3 class="ui header">Gestion des contenus</h3>
            <div class="ui labeled vertical fluid icon menu">
                <a class="item">
                    <i class="file outline icon"></i>
                    Articles
                </a>
                <a class="item">
                    <i class="icon time"></i>
                    Horaires
                </a>
                <a class="item">
                    <i class="icon calendar"></i>
                    Evénements
                </a>
                <a class="item">
                    <i class="icon comment"></i>
                    Commentaires
                </a>
            </div>
        </div>
    </div>
</div>