<div>
    <div class="collapsing no-border news">
        <div class="ui segment">
            <div class="news image">
                <img src="web/img/basket.jpg"/>
            </div>
            <div class="news infos">Auteur et date de publication</div>
            <div class="news content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facere illum modi neque porro quasi
                sequi tenetur, voluptatem! Atque autem iure ullam. Ab dignissimos itaque magni reiciendis repellat sed
                vitae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias asperiores aut consectetur consequuntur delectus eos est ipsa magnam nesciunt nobis, nostrum officiis quibusdam quis quos repellendus saepe velit voluptates!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis iusto labore maxime mollitia quisquam sit soluta. Adipisci cumque dolorum in ipsum magnam maiores quasi qui quidem similique sit. Et, quos?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid autem commodi incidunt, inventore, ipsum iste itaque iusto labore laboriosam laudantium maiores molestiae natus nisi omnis possimus soluta sunt voluptatem!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, sed voluptatem? Ab, alias debitis eos eum ex expedita iste maiores nisi possimus repellendus reprehenderit sequi sint ullam vel voluptas, voluptates!
            </div>
            <div class="news next">
                <i class="down arrow orange tiny icon"></i>
            </div>
        </div>
    </div>
</div>


