    <div ng-controller="newsController as newsCtrl" class="collapsing no-border news ten wide column">

        <div class="ui segment">
            <div class="news image">
                <img src="web/img/basket.jpg"/>
            </div>
            <div class="news infos">Auteur et date de publication</div>
            <div class="news content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facere illum modi neque porro quasi
                sequi tenetur, voluptatem! Atque autem iure ullam. Ab dignissimos itaque magni reiciendis repellat sed
                vitae.
            </div>
            <div class="news next">
                <i class="down arrow orange tiny icon"></i>
            </div>
        </div>
    </div>
    <div class="collapsing no-border six wide column widget">
        <div class="ui segment">
            <h2 class="ui dividing header">
                Mon planning
                <div class="sub header">Mon planning du 25/10/2014</div>
            </h2>
            Je suis :
            <a class="ui green label">
                de table
            </a>
            <a class="ui red label">
                d'arbitrage
            </a>
            <a class="ui blue label">
                de bar
            </a>
            <a class="ui orange label">
                de transport
            </a>
            <a class="ui purple label">
                responsable de salle
            </a>
            <table class="ui table segment">
                <thead>
                <tr>
                    <th>Lieu</th>
                    <th>Club adverse</th>
                    <th>Convoc</th>
                    <th>Match</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Oudon</td>
                    <td>Us Jeanne d'Arc carquefou</td>
                    <td>12h30</td>
                    <td>13h00</td>
                </tr>

                </tbody>
            </table>
            <table class="ui table segment">
                <thead>
                <tr>
                    <th>Lieu</th>
                    <th>Club adverse</th>
                    <th>Depart</th>
                    <th>Match</th>
                    <th>Jour</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>John</td>
                    <td>Approved</td>
                    <td>None</td>
                </tr>

                </tbody>
            </table>


        </div>
        <div class="ui segment">
            <h2 class="ui dividing header">
                Résultats des matchs
                <div class="sub header">Résultats du 25/10/2014</div>
            </h2>
            <div class="ui grid">
                <div class="row">
                    <a class="ui blue label">
                        Seniors DM1
                    </a>
                </div>
                <div class="row match">
                    <div class="six wide column">
                        <div class="ui segment">
                            <p>Asso Basket Oudon</p>
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="ui segment">
                            <p>55 - 50</p>
                        </div>
                    </div>
                    <div class="six wide column">
                        <div class="ui segment">
                            <p>US JEANNE D'ARC CARQUEFOU</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>



